table {border-collapse:collapse;}
table,th, td {border: 1px solid #333;}
th, td {height:100px; width:300px; text-align:center; vertical-align:center;}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}